In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sn

<h4>Deber√≠a ponerle "dtype" en el read_csv? y asignar cual es entero y str ...</h4>

<h4>skiprows: se usa para borrar filas que no nos interesan en el archivo cargado (borra filas de arriba a abajo)</h4>
    
   <h4> skipfooter: hace lo mismo pero borra filas de abajo a arriba</h4>
   <h4>index_col=0: hace que la primera columna se vuelva el index</h4>
   <h4>df['Tweet Location'] = df['Tweet Location'].astype('string')</h4>#utilizado para cambiarle el tipo de dato, que sea string on entero ejemplo

In [2]:
#titles=(["Serial Number","List Year","Date Recorded","Town","Address","Assessed Value","Sale Amount","Sales Ratio","Property Type","Residential Type","Non Use Code","Assessor Remarks","OPM remarks","Location"])

dataBase = pd.read_csv("dataSet.csv",sep=";", usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13], engine="python")
#names=titles
print("Se han cargado los datos")

Se han cargado los datos

In [3]:
dataBase.rename({"Serial Number":"serial_number","List Year":"list_year","Date Recorded":"date_recorded","Town":"town","Address":"address","Assessed Value":"assessed_value","Sale Amount":"sale_amount","Sales Ratio":"sales_ratio","Property Type":"property_type","Residential Type":"residential_type","Non Use Code":"non_use_code","Assessor Remarks":"assessor_remarks","OPM remarks":"opm_remarks","Location":"location",},axis=1,inplace=True)

In [4]:
#with pd.option_context("display.max_columns",None):
    #print(dataBase)

In [5]:
dataBase.head(30)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN
5,200109,2020,12/9/2020,Avon,57 FAR HILLS DRIVE,847520,1250000,0.678,Residential,Single Family,NaN,NaN,NaN,NaN
6,2020180,2020,3/1/2021,Berlin,1539 FARMINGTON AVE,234200,130000,1.8015,Residential,Two Family,08 - Part Interest,NaN,NaN,NaN
7,2020313,2020,7/1/2021,Berlin,216 WATCH HILL RD,412000,677500,0.6081,Residential,Single Family,NaN,NaN,NaN,NaN
8,200097,2020,6/4/2021,Bethany,23 AMITY RD,511000,795000,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360,335000,0.5115,Residential,Single Family,NaN,NaN,NaN,NaN
10,200086,2020,8/10/2021,Bethlehem,39 WOODLAND RD,168900,352000,0.4798,Residential,Single Family,NaN,NaN,NaN,POINT (-73.18197 41.64672)
11,2000381,2020,9/13/2021,Bloomfield,9 SADDLE RIDGE,163730,250000,0.6549,Residential,Condo,NaN,NaN,NaN,NaN
12,200258,2020,1/22/2021,Branford,34 SUNRISE COVE CAMP,530500,700000,0.7578,Residential,Single Family,NaN,WATERFRONT/COTTAGE ONLY/LAND IS ASSOCIATION OWNED,NaN,NaN
13,200804,2020,9/28/2021,Branford,119 MONTOWESE ST,455100,650000,0.7001,Commercial,NaN,NaN,NaN,NaN,NaN
14,201295,2020,9/9/2021,Bristol,609 CAMP ST,144340,249900,0.5775,Residential,Single Family,NaN,NaN,NaN,NaN
15,200032,2020,10/8/2020,Bristol,9 LESLIE COURT,94920,155000,0.6123,Residential,Single Family,NaN,NaN,NaN,NaN
16,200354,2020,12/29/2020,Bristol,391 TIFFANY LA,173740,299000,0.581,Residential,Single Family,NaN,NaN,NaN,NaN
17,200527,2020,3/1/2021,Bristol,25 WARD ST,85680,183000,0.4681,Residential,Two Family,NaN,NaN,NaN,NaN
18,201212,2020,8/23/2021,Bristol,8 JENNINGS TERR,88060,91000,0.9676,Residential,Single Family,14 - Foreclosure,FORECLOSURE SALE OUT OF BANK,NaN,NaN
19,20000050,2020,11/5/2020,Brookfield,4 CHELSEA CT,105110,160000,0.6569375,Residential,Condo,NaN,NaN,NaN,NaN
20,20000179,2020,2/22/2021,Brookfield,72 HOMESTEAD LN,94770,170000,0.5574,Residential,Condo,NaN,NaN,NaN,NaN
21,200042,2020,5/19/2021,Canaan,93 MAIN ST,355800,599000,0.5939,Residential,Two Family,NaN,NaN,NaN,NaN
22,200117,2020,4/12/2021,Canton,52 COUNTRY LANE,160850,280000,0.5744,Residential,Single Family,NaN,NaN,NaN,NaN
23,2000230,2020,3/16/2021,Cheshire,50 ABBEY CT,210940,365000,0.5779,Residential,Single Family,NaN,NaN,NaN,NaN
24,2000330,2020,5/20/2021,Cheshire,844 HIGHLAND AVE,144220,204000,0.7069,Residential,Single Family,25 - Other,DEFERRED MAINTENANCE,NaN,NaN
25,200078,2020,9/20/2021,Chester,6 SUNSET AVE,250100,418800,0.5971,Residential,Single Family,NaN,NaN,NaN,NaN
26,200268,2020,7/9/2021,Colchester,347 CABIN RD,104000,350000,0.2971,Vacant Land,NaN,NaN,NaN,NaN,NaN
27,200035,2020,10/29/2020,Colchester,160 SHADBUSH DR,223900,392000,0.5711,Residential,Single Family,NaN,NaN,NaN,NaN
28,200024,2020,11/9/2020,Columbia,WEBSTER LANE,60300,75000,0.804,Vacant Land,NaN,NaN,NaN,NaN,NaN
29,200074,2020,9/1/2021,Cornwall,131 KENT RD,246100,385000,0.6392,Commercial,NaN,NaN,NaN,NaN,NaN

In [6]:
dataBase["residential_type"].unique()

array([nan, 'Single Family', 'Condo', 'Two Family', 'Three Family',
       'Four Family', 'POINT (-72.49422 41.78123)'], dtype=object)

In [7]:
dfTemp = dataBase.isnull()
dfTemp.head(10)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,True,True,True
5,False,False,False,False,False,False,False,False,False,False,True,True,True,True
6,False,False,False,False,False,False,False,False,False,False,False,True,True,True
7,False,False,False,False,False,False,False,False,False,False,True,True,True,True
8,False,False,False,False,False,False,False,False,False,True,True,True,True,True
9,False,False,False,False,False,False,False,False,False,False,True,True,True,True

In [8]:
for columns in dfTemp.columns.values.tolist():
    print(dfTemp[columns].value_counts())
    print("")

serial_number
False    190008
True         12
Name: count, dtype: int64

list_year
False    189946
True         74
Name: count, dtype: int64

date_recorded
False    189940
True         80
Name: count, dtype: int64

town
False    189943
True         77
Name: count, dtype: int64

address
False    189934
True         86
Name: count, dtype: int64

assessed_value
False    189936
True         84
Name: count, dtype: int64

sale_amount
False    189935
True         85
Name: count, dtype: int64

sales_ratio
False    189934
True         86
Name: count, dtype: int64

property_type
True     133437
False     56583
Name: count, dtype: int64

residential_type
True     138373
False     51647
Name: count, dtype: int64

non_use_code
True     146702
False     43318
Name: count, dtype: int64

assessor_remarks
True     177964
False     12056
Name: count, dtype: int64

opm_remarks
True     188279
False      1741
Name: count, dtype: int64

location
True     137296
False     52724
Name: count, dtype: int64

In [9]:
dfTemp=dataBase[dataBase.residential_type.isnull()]
dfTemp.head(10)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
8,200097,2020,6/4/2021,Bethany,23 AMITY RD,511000,795000,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
13,200804,2020,9/28/2021,Branford,119 MONTOWESE ST,455100,650000,0.7001,Commercial,NaN,NaN,NaN,NaN,NaN
26,200268,2020,7/9/2021,Colchester,347 CABIN RD,104000,350000,0.2971,Vacant Land,NaN,NaN,NaN,NaN,NaN
28,200024,2020,11/9/2020,Columbia,WEBSTER LANE,60300,75000,0.804,Vacant Land,NaN,NaN,NaN,NaN,NaN
29,200074,2020,9/1/2021,Cornwall,131 KENT RD,246100,385000,0.6392,Commercial,NaN,NaN,NaN,NaN,NaN
31,200282,2020,7/15/2021,Coventry,1467 SOUTH ST,359800,480000,0.7495,Commercial,NaN,NaN,NaN,NaN,NaN
32,200039,2020,11/6/2020,Coventry,2075 MAIN ST,43700,25000,1.748,Vacant Land,NaN,NaN,NaN,NaN,NaN
34,200077,2020,12/8/2020,Cromwell,60 NORTH RD,174650,259000,0.6743,Vacant Land,NaN,NaN,NaN,NaN,NaN
35,200195,2020,4/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000,5214750,0.6443,Commercial,NaN,NaN,NaN,NaN,NaN

In [10]:
dfTemp = dataBase[dataBase["list_year"]=="2020"]
dfTemp.head(10)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN
5,200109,2020,12/9/2020,Avon,57 FAR HILLS DRIVE,847520,1250000,0.678,Residential,Single Family,NaN,NaN,NaN,NaN
6,2020180,2020,3/1/2021,Berlin,1539 FARMINGTON AVE,234200,130000,1.8015,Residential,Two Family,08 - Part Interest,NaN,NaN,NaN
7,2020313,2020,7/1/2021,Berlin,216 WATCH HILL RD,412000,677500,0.6081,Residential,Single Family,NaN,NaN,NaN,NaN
8,200097,2020,6/4/2021,Bethany,23 AMITY RD,511000,795000,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
9,20139,2020,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360,335000,0.5115,Residential,Single Family,NaN,NaN,NaN,NaN

In [11]:
dfTemp2 = dfTemp[dfTemp["property_type"]=="Commercial"]
dfTemp2.head(10)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
8,200097,2020,6/4/2021,Bethany,23 AMITY RD,511000,795000,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
13,200804,2020,9/28/2021,Branford,119 MONTOWESE ST,455100,650000,0.7001,Commercial,NaN,NaN,NaN,NaN,NaN
29,200074,2020,9/1/2021,Cornwall,131 KENT RD,246100,385000,0.6392,Commercial,NaN,NaN,NaN,NaN,NaN
31,200282,2020,7/15/2021,Coventry,1467 SOUTH ST,359800,480000,0.7495,Commercial,NaN,NaN,NaN,NaN,NaN
35,200195,2020,4/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000,5214750,0.6443,Commercial,NaN,NaN,NaN,NaN,NaN
40,201186,2020,7/12/2021,Danbury,28 MAIN ST,695500,3200000,0.21734375,Commercial,NaN,NaN,I15336,GAS STATION,NaN
44,20129,2020,3/30/2021,Derby,196 ELIZABETH ST,351260,873000,0.4023,Commercial,NaN,NaN,NaN,NaN,NaN
55,200320,2020,5/10/2021,East Lyme,9 FREEDOM WAY,776230,1525000,0.509,Commercial,NaN,NaN,NaN,NaN,POINT (-72.24486 41.32183)
74,200539,2020,7/16/2021,Farmington,130 BIRDSEYE RD,1213620,1125000,1.0787,Commercial,NaN,NaN,NaN,NaN,NaN

In [12]:
dfTemp3=dfTemp[dfTemp["town"]=="Cornwall"]
dfTemp3.head(10)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
29,200074,2020,9/1/2021,Cornwall,131 KENT RD,246100,385000,0.6392,Commercial,NaN,NaN,NaN,NaN,NaN
619,200004,2020,10/13/2020,Cornwall,382 SHARON GOSHEN TPKE,144200,295000,0.4888,Residential,Single Family,NaN,NaN,NaN,POINT (-73.35724 41.87366)
1070,200057,2020,6/1/2021,Cornwall,SHARON GOSHEN TPKE,449120,330000,1.3609,Vacant Land,NaN,01 - Family,FAMILY SALE,NaN,NaN
1245,200031,2020,12/30/2020,Cornwall,169 CREAM HILL RD,329700,800000,0.4121,Residential,Single Family,NaN,NaN,NaN,POINT (-73.32278 41.8888)
2158,200008,2020,10/26/2020,Cornwall,TOWN ST SOUTH,81800,56953.33,1.4362,Vacant Land,NaN,24 - Plottage,SOLD TO ABUTTER,NaN,NaN
2225,200064,2020,7/27/2021,Cornwall,16 SOLTIS LANE,127700,300000,0.4256,Residential,Single Family,01 - Family,FAMILY SALE,NaN,NaN
2260,200032,2020,1/19/2021,Cornwall,49 PIERCE LANE,87600,120000,0.73,Vacant Land,NaN,NaN,NaN,NaN,POINT (-73.34357 41.84847)
3391,200026,2020,12/9/2020,Cornwall,VALLEY RD,161700,90000,1.7966,Vacant Land,NaN,14 - Foreclosure,SALE AFTER FORECLOSURE,NaN,NaN
3876,200036,2020,2/2/2021,Cornwall,15 STONE HILL RD,92800,108000,0.8592,Vacant Land,NaN,NaN,NaN,NaN,POINT (-73.30805 41.89131)
3977,200049,2020,4/27/2021,Cornwall,91 CEMETERY HILL RD,154100,225000,0.6848,Residential,Single Family,NaN,NaN,NaN,NaN

In [13]:
#ingreso_anual = dataBase.groupby("list_year")["sale_amount"].sum()
#print(ingreso_anual)

In [14]:
dfTemp3.loc[29,"residential_type"]="Single Family"
dfTemp3.loc[1245,"residential_type"]="Single Family"
dfTemp3.loc[2158,"residential_type"]="Single Family"
dfTemp3.loc[2260,"residential_type"]="Single Family"
dfTemp3.loc[3391,"residential_type"]="Single Family"
dfTemp3.loc[3876,"residential_type"]="Single Family"
print("Datos imputados")

Datos imputados

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[29,"residential_type"]="Single Family"
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[1245,"residential_type"]="Single Family"
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[2158,"residential_type"]="Single Family"
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[2260,"residential_type"]="Single Family"
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[3391,"residential_type"]="Single Family"
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3935725991.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfTemp3.loc[3876,"residential_type"]="Single Family"

In [15]:
dfTemp = dataBase.isnull()

In [16]:
for columns in dfTemp.columns.values.tolist():
    print(dfTemp[columns].value_counts())
    print("")

serial_number
False    190008
True         12
Name: count, dtype: int64

list_year
False    189946
True         74
Name: count, dtype: int64

date_recorded
False    189940
True         80
Name: count, dtype: int64

town
False    189943
True         77
Name: count, dtype: int64

address
False    189934
True         86
Name: count, dtype: int64

assessed_value
False    189936
True         84
Name: count, dtype: int64

sale_amount
False    189935
True         85
Name: count, dtype: int64

sales_ratio
False    189934
True         86
Name: count, dtype: int64

property_type
True     133437
False     56583
Name: count, dtype: int64

residential_type
True     138373
False     51647
Name: count, dtype: int64

non_use_code
True     146702
False     43318
Name: count, dtype: int64

assessor_remarks
True     177964
False     12056
Name: count, dtype: int64

opm_remarks
True     188279
False      1741
Name: count, dtype: int64

location
True     137296
False     52724
Name: count, dtype: int64

In [17]:
dataBase.head(5)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN

In [18]:
#precio = dataBase["sale_amount"].value_counts()
#precio.max()

In [19]:
#dataBase.info()

In [20]:
#dataBase[["serial_number","list_year","assessed_value"]] = dataBase[["serial_number","list_year","assessed_value"]].astype(int)
#dataBase["sales_ratio","sale_amount"] = dataBase["sales_ratio","sale_amount"].astype(float)

<h4> imputacion de datos categoricos</h4>

In [21]:
dataBase["town"].value_counts().idxmax()

'Stamford'

In [22]:
dataBase["town"].replace(np.nan, "Stamford", inplace= True)

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\3909585940.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase["town"].replace(np.nan, "Stamford", inplace= True)

In [23]:
dataBase["property_type"].value_counts().idxmax()

'Residential'

In [24]:
dataBase["property_type"].replace(np.nan, "Residential", inplace= True)

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\2192422647.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase["property_type"].replace(np.nan, "Residential", inplace= True)

In [25]:
dataBase["residential_type"].value_counts().idxmax()

'Single Family'

In [26]:
dataBase["residential_type"].replace(np.nan, "Single Family", inplace=True)

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\1339612939.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase["residential_type"].replace(np.nan, "Single Family", inplace=True)

In [27]:
dataBase["assessor_remarks"].value_counts().idxmax()

'ESTATE SALE'

In [28]:
dataBase["assessor_remarks"].replace(np.nan, "ESTATE SALE", inplace=True)

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\633950348.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase["assessor_remarks"].replace(np.nan, "ESTATE SALE", inplace=True)

In [29]:
dataBase.head(5)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,Single Family,NaN,ESTATE SALE,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,NaN,ESTATE SALE,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,NaN,ESTATE SALE,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,NaN,ESTATE SALE,NaN,NaN
4,200377,2020,7/2/2021,Avon,70 FAR HILLS DRIVE,862330,1447500,0.5957,Residential,Single Family,NaN,ESTATE SALE,NaN,NaN

In [30]:
dataBase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190020 entries, 0 to 190019
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   serial_number     190008 non-null  object
 1   list_year         189946 non-null  object
 2   date_recorded     189940 non-null  object
 3   town              190020 non-null  object
 4   address           189934 non-null  object
 5   assessed_value    189936 non-null  object
 6   sale_amount       189935 non-null  object
 7   sales_ratio       189934 non-null  object
 8   property_type     190020 non-null  object
 9   residential_type  190020 non-null  object
 10  non_use_code      43318 non-null   object
 11  assessor_remarks  190020 non-null  object
 12  opm_remarks       1741 non-null    object
 13  location          52724 non-null   object
dtypes: object(14)
memory usage: 20.3+ MB

In [31]:
#dataBase[["serial_number","list_year","assessed_value"]] = dataBase[["serial_number","list_year","assessed_value"]].astype(int)
#dataBase["sales_ratio","sale_amount"] = dataBase["sales_ratio","sale_amount"].astype(float)

In [32]:
#dataBase[["serial_number"]] = dataBase[["serial_number"]].astype(int)

<h4> imputacion de datos numericos</h4>

In [89]:
def limpia (variable, dataBase):
    dataBase[variable] = pd.to_numeric(dataBase[variable], errors= "coerce")

In [90]:
def promedioInt (variable):
    average = int(dataBase[variable].astype("float").mean(axis=0))
    return average

In [91]:
def promedioFloat (variable):
    average = round(dataBase[variable].astype("float").mean(axis=0),2)
    return average

In [79]:
def modaDate (variable, dataBase):
    moda = dataBase[variable].mode()[0]
    return moda

In [59]:
def imputacionNumerica (variable, valor, dataBase):
    if variable in dataBase.columns:
        dataBase[variable].replace(np.nan, valor, inplace=True)
        print("imputacion realizada")
    else:
        print(f"la columna {variable} no existe en el  marco de datos actual")

In [55]:
dataBase.head(4)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500,325000,0.463,Commercial,Single Family,NaN,ESTATE SALE,NaN,NaN
1,20002,2020,10/2/2020,Ashford,390 TURNPIKE RD,253000,430000,0.5883,Residential,Single Family,NaN,ESTATE SALE,NaN,NaN
2,200212,2020,3/9/2021,Avon,5 CHESTNUT DRIVE,130400,179900,0.7248,Residential,Condo,NaN,ESTATE SALE,NaN,NaN
3,200243,2020,4/13/2021,Avon,111 NORTHINGTON DRIVE,619290,890000,0.6958,Residential,Single Family,NaN,ESTATE SALE,NaN,NaN

In [80]:
modaDate ("date_recorded", dataBase)

'7/1/2002'

In [81]:
dataBase["date_recorded"].replace(np.nan, "7/1/2002", inplace=True)

In [87]:
limpia ("list_year", dataBase)
limpia ("assessed_value", dataBase)
limpia ("sale_amount", dataBase)
limpia ("sales_ratio", dataBase)

In [92]:
imputacionNumerica ("serial_number", promedioInt ("serial_number"), dataBase)
imputacionNumerica ("list_year", ( promedioInt ("list_year")), dataBase)
imputacionNumerica ("assessed_value", promedioInt ("assessed_value"), dataBase)
imputacionNumerica ("sale_amount", promedioInt ("sale_amount"), dataBase)
imputacionNumerica ("sales_ratio", promedioFloat ("sales_ratio"), dataBase)

imputacion realizada
imputacion realizada
imputacion realizada
imputacion realizada
imputacion realizada

C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\129629942.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase[variable].replace(np.nan, valor, inplace=True)
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\129629942.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase[variable].replace(np.nan, valor, inplace=True)
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\129629942.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase[variable].replace(np.nan, valor, inplace=True)
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\129629942.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase[variable].replace(np.nan, valor, inplace=True)
C:\Users\Javier\AppData\Local\Temp\ipykernel_13588\129629942.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataBase[variable].replace(np.nan, valor, inplace=True)

<h4> eliminacion de columnas</h4>

In [104]:
dataBase.dropna(subset="non_use_code",axis=0, inplace=True)
dataBase.dropna(subset="opm_remarks",axis=0, inplace=True)
dataBase.dropna(subset="location",axis=0, inplace=True)

dataBase.reset_index(drop=True, inplace=True)

In [113]:
dataBase.head(3)

,serial_number,list_year,date_recorded,town,address,assessed_value,sale_amount,sales_ratio,property_type,residential_type,non_use_code,assessor_remarks,opm_remarks,location
0,20513,2020,5/4/2021,East Hartford,90 PARK AVE,73340,180000,0.407444,Residential,Single Family,07 - Change in Property,ESTATE SALE,COMPLETELY REHABBED PER MLS INCLUDING NEW REAR...,POINT (-72.63197 41.77971)
1,200518,2020,2/25/2021,Bristol,29 ALBA DR,124250,157000,0.791401,Residential,Single Family,25 - Other,ESTATE SALE,SHORT SALE PER MLS,POINT (-72.94448 41.71012)
2,201231,2020,08/27/2021,Bristol,70 HARVARD PL,171150,385000,0.444545,Residential,Single Family,07 - Change in Property,ESTATE SALE,PER MLS: 3.5 BATHS; CENTRAL A/C; FINISHED BASE...,POINT (-72.97635 41.7138)

In [123]:
dataBase["sales_ratio"].unique()

array([4.07444444e-01, 7.91401274e-01, 4.44545455e-01, 4.36639344e-01,
       9.50074184e-01, 8.31646331e-01, 4.53384461e-01, 6.35180723e-01,
       4.92513089e-01, 2.53467742e-01, 3.74477612e-01, 2.88669302e-01,
       3.50364964e-01, 4.67053219e-01, 1.20650000e-01, 3.95013043e-01,
       4.40140351e-01, 5.32647059e-01, 8.23529412e-01, 4.22647059e-01,
       5.07260407e-01, 4.58454106e-01, 3.84325581e-01, 5.43809524e-01,
       3.98661818e-01, 3.10069565e-01, 2.09444440e-02, 4.36400000e-01,
       4.36247335e-01, 1.93000000e+00, 5.53666667e-01, 4.33909091e-01,
       1.59191667e-01, 4.03353846e-01, 4.43318556e-01, 8.78431373e-01,
       4.53554688e-01, 3.44913386e-01, 6.25714286e-01, 8.25416667e-01,
       4.43185149e-01, 4.51203008e-01, 1.02521008e+00, 4.74068966e-01,
       1.02785340e+00, 4.38664596e-01, 6.58522694e-01, 7.34166667e-01,
       4.33400182e-01, 3.69811321e-01, 8.82631579e-01, 2.50103448e-01,
       3.45371429e-01, 4.24958333e-01, 3.25333333e-01, 8.60363636e-01,
       2.62173913e-01, 9.03267974e-01, 8.91757576e-01, 3.17169933e-01,
       3.36189710e-02, 1.69573964e+00, 4.70640000e-01, 4.32782609e-01,
       4.55500666e-01, 4.58801395e-01, 1.88670520e+00, 6.58321168e-01,
       3.72250000e-01, 1.05039185e+00, 6.38904735e-01, 6.98150000e-01,
       4.29122606e-01, 4.42729053e-01, 4.07500000e-01, 4.64283068e-01,
       2.54235294e-01, 3.87632000e-01, 4.83601286e-01, 4.96072289e-01,
       4.73898305e-01, 4.11428571e-01, 4.17307692e-01, 4.25202477e-01,
       4.47000000e-01, 3.96331595e-01, 9.66321839e-01, 4.29318182e-01,
       4.36040609e-01, 3.20444444e-01, 4.34022989e-01, 4.41446809e-01,
       3.63583815e-01, 4.52200000e-01, 3.92242991e-01, 4.71916667e-01,
       3.45135135e-01, 4.45801527e-01, 3.30546690e-02, 3.89314642e-01,
       2.13221895e-01, 3.83016393e-01, 4.51529412e-01, 5.62533172e-01,
       4.15064407e-01, 2.62337662e-01, 8.38620690e-01, 4.13797468e-01,
       3.48941176e-01, 4.57142857e-01, 3.73333333e-01, 3.30400000e-01,
       3.88967742e-01, 3.39699130e-01, 3.32062500e-01, 3.93396226e-01,
       4.13333333e-01, 1.13960606e+00, 7.29769585e-01, 4.24719101e-01,
       3.31160494e-01, 7.11730828e-01, 4.44179894e-01, 2.02962963e-01,
       4.13117865e-01, 1.05800000e+00, 3.32189974e-01, 4.42721361e-01,
       3.59428571e-01, 1.75166667e+00, 6.55135135e-01, 4.06486168e-01,
       3.90389016e-01, 4.63202368e-01, 3.96977778e-01, 3.99886105e-01,
       4.18731988e-01, 3.81725888e-01, 4.21186441e-01, 3.96556090e-01,
       1.68076923e+00, 4.53300179e-01, 4.53146853e-01, 3.77192308e-01,
       4.21651011e-01, 3.33846154e-01, 4.15227273e-01, 4.09862069e-01,
       1.60140000e+00, 4.10230769e-01, 4.63741007e-01, 3.74500000e-01,
       3.34320990e-02, 4.12730769e-01, 3.48071979e-01, 3.88830189e-01,
       3.43578182e-01, 6.27137216e-01, 3.91205674e-01, 6.02857143e-01,
       4.31600000e-01, 4.42105263e-01, 4.25036819e-01, 5.39705600e-01,
       4.98699187e-01, 3.71396825e-01, 4.11508197e-01, 1.67493376e-01,
       5.38714481e-01, 4.57450000e-01, 3.64973913e-01, 4.10108696e-01,
       4.07225000e-01, 3.76575000e-01, 2.04909091e+00, 9.40298510e-02,
       5.58649610e-02, 1.08888889e-01, 8.30454545e-01, 4.74050000e-01,
       2.89544554e-01, 4.64100000e-01, 4.34606205e-01, 3.43500000e-01,
       4.06608696e-01, 2.24765625e-01, 1.01100000e+00, 4.44733333e-01,
       3.13538462e-01, 1.01635882e+00, 5.05992509e-01, 5.38354528e-01,
       1.62900000e+00, 3.21452769e-01, 4.49233645e-01, 3.91490909e-01,
       4.22420749e-01, 9.82729805e-01, 7.90173913e-01, 3.86680851e-01,
       3.78282828e-01, 3.46666667e-01, 3.44000000e-01, 4.74327869e-01,
       3.52400000e-01, 4.11602753e-01, 4.39974293e-01, 4.06000000e-01,
       4.06937500e-01, 4.40600000e-01, 4.15703704e-01, 4.47235334e-01,
       3.22580645e-01, 2.43351064e-01, 4.66810345e-01, 1.54666667e-01,
       4.35146444e-01, 8.47674419e-01, 4.19750000e-01, 3.84109091e-01,
       9.29090909e-01, 3.36000000e-01, 4.37808765e-01, 9.09000000e-01,
       1.57660377e-01, 3.99768421e-01, 8.92727273e-01, 3.26000000e+00,
       4.83665339e-01, 3.17927273e-01, 3.95678330e-01, 1.20310078e+00,
       1.23200000e+00, 1.05806250e+00, 4.20817844e-01, 3.01681592e-01,
       3.46888889e-01, 8.22888889e-01, 3.61009174e-01, 3.57804560e-01,
       4.48453608e-01, 3.92320442e-01, 4.21473684e-01, 4.20000000e-01,
       3.88920000e-01, 1.21766667e+00, 4.22686567e-01, 4.19130435e-01,
       1.53378378e+00, 3.31470588e-01, 4.51725998e-01, 2.05260000e+00,
       4.66292308e-01, 3.33746130e-01, 4.67490909e-01, 2.84285714e+00,
       3.94041667e-01, 4.04215686e-01, 1.05322105e+00, 7.73862069e-01,
       4.70333333e-01, 4.94852273e-01, 2.37650000e+00, 4.24918033e-01,
       4.24327273e-01, 5.29500865e-01, 2.80405945e-01, 1.36809302e+00,
       1.07753846e+00, 3.41786667e-01, 1.42225000e-01, 4.09005236e-01,
       4.12254237e-01, 4.37593583e-01, 5.48575758e-01, 1.92000000e+00,
       6.38835135e-01, 3.62976744e-01, 6.51506849e-01, 2.08192771e-01,
       9.22173910e-02, 4.50777202e-01, 3.75307692e-01, 4.33639439e-01,
       4.41971383e-01, 3.27600000e+00, 3.64094309e-01, 4.47317073e-01,
       4.01249024e-01, 3.92863436e-01, 4.36100000e-01, 1.46839860e-01,
       4.26538462e-01, 4.04352941e-01, 4.32818182e-01, 3.67538462e-01,
       3.44391026e-01, 4.36760563e-01, 4.15318750e+00, 5.10000000e-02,
       4.24392157e-01, 6.02200734e-01, 4.13000000e-01, 3.91782946e-01,
       4.44920000e-01, 4.33780392e-01, 5.68400000e-01, 5.73266619e-01,
       3.79800000e-01, 8.09333333e-01, 7.30803947e-01, 4.33650794e-01,
       4.00000000e-01, 4.43127753e-01, 4.17364706e-01, 2.40258065e-01,
       4.40316456e-01, 5.68338462e-01, 2.98451977e-01, 1.18325013e-01,
       6.45929825e-01, 5.78644970e-01, 3.52372881e-01, 4.18017391e-01,
       2.68571429e-01, 3.31555556e-01, 3.14678899e-01, 2.88070261e-01,
       2.51410256e-01, 3.35333333e+00, 4.65584416e-01, 4.74372093e-01,
       3.38538622e-01, 3.32161290e-01, 5.33840000e-02, 4.49487179e-01,
       4.70957274e-01, 5.68955224e-01, 4.83727273e-01, 2.50315000e+00,
       1.19250000e+00, 1.38630137e-01, 1.00500000e+00, 2.46320000e-01,
       4.49846154e-01, 6.02137405e-01, 5.61367089e-01, 2.72484832e+00,
       3.09264706e-01, 9.33771429e-01, 6.41698619e-01, 3.65206897e-01,
       1.29119171e+00, 6.98198330e-01, 5.42197092e-01, 3.48230769e-01,
       5.24397059e-01, 1.31541667e+00, 4.29086057e-01, 5.81285141e-01,
       9.07225397e-01, 9.57605990e-02, 2.23250618e-01, 6.92909091e-01,
       3.26175439e-01, 6.36255560e-02, 3.82633970e-01, 9.05879518e-01,
       4.18658537e-01, 3.59306667e-01, 5.85725000e-01, 9.53611111e-01,
       4.54787879e-01, 3.76000000e-01, 8.10923077e-01, 3.82423313e-01,
       3.51225000e-01, 1.08692970e-01, 3.03676471e-01, 6.04225090e-01,
       4.68481481e-01, 3.47729730e-01, 3.28109091e-01, 5.60634767e-01,
       3.65802383e-01, 3.75555556e-01, 3.83368421e-01, 1.56000000e+00,
       7.77096296e-01, 7.07720588e-01, 2.38200000e+00, 1.95693750e-01,
       4.36117381e-01, 2.89551724e-01, 9.09654321e-01, 4.52316667e-01,
       3.70305882e-01, 1.26120690e-01, 3.68694362e-01, 5.29741935e-01,
       4.67808219e-01, 9.19760000e-01, 6.12511144e-01, 3.59492754e-01,
       8.46736842e-01, 6.40956522e-01, 3.18028169e-01, 1.04944000e+00,
       1.47604255e+00, 3.43000000e-01, 6.78434135e-01, 1.37080103e+00,
       1.57637795e+00, 3.22027778e-01, 3.97651246e-01, 3.36449618e-01,
       2.78430769e+00, 2.24700000e-01, 5.56222222e-01, 1.48490826e+00,
       5.96453901e-01, 6.75215556e-01, 3.13384615e-01, 1.01205797e+00,
       3.56869159e-01, 6.09656403e-01, 2.95975000e-01, 2.81750000e-01,
       4.98427350e-01, 5.12658960e-01, 9.94500000e-01, 3.70483871e-01,
       4.73492537e-01, 1.04064615e+00, 5.51362319e-01, 3.67600000e-01,
       3.92979351e-01, 3.70196721e-01, 5.89198256e-01, 4.30755208e-01,
       5.42566038e-01, 1.38344459e-01, 5.03493953e-01, 3.48400000e-01,
       9.10780952e-01, 1.05131035e+00, 4.53916667e-01, 2.82294873e-01,
       1.17073171e+00, 1.31001185e-01, 6.82010697e-01, 2.21454545e-01,
       3.89871245e-01, 6.82027027e-01, 4.67252747e-01, 5.21305900e-01,
       3.07782205e-01, 7.25084337e-01, 4.78290909e-01, 4.03153527e-01,
       2.76421053e-01, 6.21641028e-01, 3.77300000e-01, 4.28202020e-01,
       3.76337838e-01, 4.37266667e-01, 3.62911574e-01, 8.70258065e-01,
       8.70000000e-01, 2.87280000e-01, 9.71878073e-01, 3.90769231e-01,
       3.24248366e-01, 3.59200000e-01, 1.07026415e+00, 3.39800000e-01,
       7.44239140e-02, 3.74402939e-01, 1.01490540e+00, 5.05968421e-01,
       2.98536585e-01, 2.84815152e+00, 4.19424658e-01, 3.25824561e-01,
       3.84333333e-01, 3.63332830e-01, 3.42268041e-01, 3.65489362e-01,
       2.62500000e-01, 1.36393750e+00, 3.59527273e-01, 6.33564947e-01,
       3.91386555e-01, 8.81214286e-01, 5.05661538e-01, 1.68923077e+00,
       3.84396135e-01, 7.20470588e-01, 8.30666667e-01, 1.04562500e+00,
       4.92679873e-01, 4.73312102e-01, 3.03163636e-01, 6.89934536e-01,
       6.00894188e-01, 7.62983284e-01, 3.25549180e-01, 9.71384615e-01,
       1.05188571e+00, 5.18537931e-01, 3.24880000e-01, 2.77038462e-01,
       3.55823009e-01, 3.21176471e-01, 2.43844156e-01, 3.76736842e-01,
       3.78545455e-01, 3.37904762e-01, 6.46091743e-01, 5.85741176e-01,
       3.10827707e-01, 1.82222222e-01, 5.25567568e-01, 8.55750000e-01,
       3.32307692e-01, 6.52842105e-01, 1.00771008e+00, 4.35333333e-01,
       3.71618625e-01, 4.05228070e-01, 1.14347692e+00, 4.32016129e-01,
       4.56900000e-01, 5.43134328e-01, 6.77974310e-02, 1.58069615e-01,
       3.24029412e-01, 4.41100577e-01, 5.72782609e-01, 6.31621940e-02,
       2.55092308e-01, 2.45908184e-01, 3.76769231e-01, 3.18664193e-01,
       5.15200000e+00, 2.13555556e+00, 8.37264706e-01, 2.22914540e-02,
       4.29487179e-01, 1.39753846e+00, 8.54247721e-01, 5.36835821e-01,
       7.10800009e-01, 4.19017544e-01, 2.99200000e-01, 1.22018727e+00,
       3.26323633e-01, 3.51869565e-01, 6.00645161e-01, 5.79692308e-01,
       3.10117647e-01, 6.26600000e+00, 4.68465753e-01, 3.60698413e-01,
       7.11264368e-01, 4.53617021e-01, 5.76582278e-01, 1.39253333e+00,
       1.16897143e+00, 7.59335202e-01, 1.39293333e+00, 4.18766756e-01,
       2.93714286e-01, 3.18287561e-01, 3.36631579e-01, 2.12597741e-01,
       4.97660377e-01, 5.15000000e-01, 2.69043478e-01, 5.47200967e-01,
       1.33411765e+00, 3.72300793e-01, 2.56862843e-01, 6.99570815e-01,
       6.99740000e-04, 3.54769231e-01, 1.30000000e-01, 2.61166667e-01,
       1.01612903e+00, 1.85660000e+00, 3.15471014e-01, 3.32875000e-01,
       6.89979648e-01, 7.13111111e-01, 2.10266667e-01, 4.68875000e-01,
       1.11476661e+00, 3.54163265e-01, 4.62043478e-01, 4.60436513e-01,
       6.91875000e-01, 1.31973822e+00, 1.18333333e-01, 1.07100000e+00,
       4.71559322e-01])

<h4> cambiar todos los datos para que sean categorizados correctamente, si son numericos o string...</h4>

In [ ]:
dataBase.info()

In [124]:
dataBase["date_recorded"]=pd.to_datetime(dataBase["date_recorded"])

In [125]:
dataBase[["serial_number","assessed_value","sale_amount"]]=dataBase[["serial_number","assessed_value","sale_amount"]].astype(int)

<h4> Asignarle cuantos decimales quiero en los datos flotantes</h4>

In [ ]:
#dataBase["sales_ratio"] = dataBase["sales_ratio"].round()

<h4 Style = "color: #25857d">1) cual es el ingreso anual de las propiedades vendidas:</h4>

Numero serial:2020348, monto de la venta: 325000.0

Numero serial: 20002, monto de la venta: 430000.0

Numero serial: 200212, monto de la venta: 179900.0

Numero serial: 200243, monto de la venta: 890000.0

Numero serial: 200377, monto de la venta: 1447500.0

<h4 Style = "color: #25857d">2) Que tipo de propiedad tiene mayor facilidad de venta:</h4>
    <li>Las propiedades residenciales</li>

<h4 Style = "color: #25857d">3) En cual ciudad o pueblo se dan mayor cantidad de ventas de propiedades? y que elementos particulares tienen esas ciudades o pueblos</h4>

cornwall